@font-face {
  font-family: 'icomoon';
  src:  url('~@/assets/fonts/icomoon.eot?zgp5k2');
  src:  url('~@/assets/fonts/icomoon.eot?zgp5k2#iefix') format('embedded-opentype'),
    url('~@/assets/fonts/icomoon.ttf?zgp5k2') format('truetype'),
    url('~@/assets/fonts/icomoon.woff?zgp5k2') format('woff'),
    url('~@/assets/fonts/icomoon.svg?zgp5k2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-login_key:before {
  content: "\e991";
  color: inherit;
}
.icon-login_user:before {
  content: "\e992";
  color: inherit;
}
.icon-arrow_down:before {
  content: "\e975";
}
.icon-arrow_down2:before {
  content: "\e976";
}
.icon-arrow_left:before {
  content: "\e977";
}
.icon-arrow_left2:before {
  content: "\e978";
}
.icon-arrow_right:before {
  content: "\e979";
}
.icon-arrow_right2:before {
  content: "\e97a";
}
.icon-arrow_up:before {
  content: "\e97b";
}
.icon-arrow_up2:before {
  content: "\e97c";
}
.icon-ico_add:before {
  content: "\e97d";
  color: #019fe9;
}
.icon-ico_ban:before {
  content: "\e97e";
  color: #fa6464;
}
.icon-ico_edit:before {
  content: "\e97f";
  color: #f8b500;
}
.icon-ico_go:before {
  content: "\e980";
  color: #24ba72;
}
.icon-ico_in:before {
  content: "\e981";
  color: #ef8152;
}
.icon-ico_look:before {
  content: "\e982";
  color: #757e9f;
}
.icon-ico_menu:before {
  content: "\e983";
  color: #019fe9;
}
.icon-ico_menu_down:before {
  content: "\e984";
  color: #019fe9;
}
.icon-ico_menu_up:before {
  content: "\e985";
  color: #019fe9;
}
.icon-ico_out:before {
  content: "\e986";
  color: #9d3ca0;
}
.icon-ico_refresh:before {
  content: "\e987";
  color: #00afce;
}
.icon-ico_save:before {
  content: "\e988";
  color: #654bd5;
}
.icon-ico_state_failure:before {
  content: "\e989";
  color: #eb4549;
}
.icon-ico_state_notice:before {
  content: "\e98a";
  color: #f8b500;
}
.icon-ico_state_success:before {
  content: "\e98b";
  color: #24ba72;
}
.icon-ico_stop:before {
  content: "\e98c";
  color: #63604f;
}
.icon-ico_test:before {
  content: "\e98d";
  color: #a467fb;
}
.icon-ico_title:before {
  content: "\e98e";
  color: #019fe9;
}
.icon-icon_del:before {
  content: "\e98f";
  color: #f677a7;
}
.icon-uniE990:before {
  content: "\e990";
}
.icon-ico_top_out:before {
  content: "\e971";
  color: inherit;
}
.icon-ico_top_set:before {
  content: "\e972";
  color: inherit;
}
.icon-ico_top_sjyy:before {
  content: "\e973";
  color: inherit;
}
.icon-ico_top_sjzc:before {
  content: "\e974";
  color: inherit;
}
.icon-ico_sjbz1_bzgzgl:before {
  content: "\e900";
  color: inherit;
}
.icon-ico_sjbz1_ggdmbz:before {
  content: "\e901";
  color: inherit;
}
.icon-ico_sjbz1_jcsjbz:before {
  content: "\e902";
  color: inherit;
}
.icon-ico_sjbz1_jysjbz:before {
  content: "\e903";
  color: inherit;
}
.icon-ico_sjbz1_sdbzgl:before {
  content: "\e904";
  color: inherit;
}
.icon-ico_sjbz1_zbbzgl:before {
  content: "\e905";
  color: inherit;
}
.icon-ico_sjbz1_zbwdjz:before {
  content: "\e906";
  color: inherit;
}
.icon-ico_sjbz1_zsjbz:before {
  content: "\e907";
  color: inherit;
}
.icon-ico_sjbz2_dmbzmbwh:before {
  content: "\e908";
  color: inherit;
}
.icon-ico_sjbz2_dmbzwhlcgl:before {
  content: "\e909";
  color: inherit;
}
.icon-ico_sjbz2_dmsjjrgn:before {
  content: "\e90a";
  color: inherit;
}
.icon-ico_sjbz2_fhzbzdyzhgn:before {
  content: "\e90b";
  color: inherit;
}
.icon-ico_sjbz2_gzdyjwh:before {
  content: "\e90c";
  color: inherit;
}
.icon-ico_sjbz2_jysjbzmbwh:before {
  content: "\e90d";
  color: inherit;
}
.icon-ico_sjbz2_jysjbzwhlcgl:before {
  content: "\e90e";
  color: inherit;
}
.icon-ico_sjbz2_jysjjkgfdcgn:before {
  content: "\e90f";
  color: inherit;
}
.icon-ico_sjbz2_sjbzsxmbwh:before {
  content: "\e910";
  color: inherit;
}
.icon-ico_sjbz2_sjbztxwh:before {
  content: "\e911";
  color: inherit;
}
.icon-ico_sjbz2_sjkjglyjgcx:before {
  content: "\e912";
  color: inherit;
}
.icon-ico_sjbz2_sjmxjr:before {
  content: "\e913";
  color: inherit;
}
.icon-ico_sjbz2_sjzldy:before {
  content: "\e914";
  color: inherit;
}
.icon-ico_sjbz2_wdbzmbwh:before {
  content: "\e915";
  color: inherit;
}
.icon-ico_sjbz2_wdbzwhlcgl:before {
  content: "\e916";
  color: inherit;
}
.icon-ico_sjbz2_wdtxgl:before {
  content: "\e917";
  color: inherit;
}
.icon-ico_sjbz2_wdzgl:before {
  content: "\e918";
  color: inherit;
}
.icon-ico_sjbz2_wdzydmzysgl:before {
  content: "\e919";
  color: inherit;
}
.icon-ico_sjbz2_ywsywh:before {
  content: "\e91a";
  color: inherit;
}
.icon-ico_sjbz2_zbbzcx:before {
  content: "\e91b";
  color: inherit;
}
.icon-ico_sjbz2_zbbzmbgl:before {
  content: "\e91c";
  color: inherit;
}
.icon-ico_sjbz2_zbbzsxmbgl:before {
  content: "\e91d";
  color: inherit;
}
.icon-ico_sjbz2_zbbzwhlcgl:before {
  content: "\e91e";
  color: inherit;
}
.icon-ico_sjbz2_zbwdgzwh:before {
  content: "\e91f";
  color: inherit;
}
.icon-ico_sjbz2_zsjbzjygn:before {
  content: "\e920";
  color: inherit;
}
.icon-ico_sjbz2_zsjbzmbwh:before {
  content: "\e921";
  color: inherit;
}
.icon-ico_sjbz2_zsjbzwhlcgl:before {
  content: "\e922";
  color: inherit;
}
.icon-ico_sjbz2_zsjjkgfdcgn:before {
  content: "\e923";
  color: inherit;
}
.icon-ico_sjbz2_zsjjrgn:before {
  content: "\e924";
  color: inherit;
}
.icon-ico_sjbz2_zsjsjzldy:before {
  content: "\e925";
  color: inherit;
}
.icon-ico_sjyy1_gnjkgl:before {
  content: "\e926";
  color: inherit;
}
.icon-ico_sjyy1_sjbzsjcx:before {
  content: "\e927";
  color: inherit;
}
.icon-ico_sjyy1_sjfwgl:before {
  content: "\e928";
  color: inherit;
}
.icon-ico_sjyy1_xqgl:before {
  content: "\e929";
  color: inherit;
}
.icon-ico_sjyy2_bigjsjjkzdhjx:before {
  content: "\e92a";
  color: inherit;
}
.icon-ico_sjyy2_qxgljc:before {
  content: "\e92b";
  color: inherit;
}
.icon-ico_sjyy2_sjcxyqkf:before {
  content: "\e92c";
  color: inherit;
}
.icon-ico_sjyy2_sjfwjkgl:before {
  content: "\e92d";
  color: inherit;
}
.icon-ico_sjyy2_sjfwqdgl:before {
  content: "\e92e";
  color: inherit;
}
.icon-ico_sjyy2_sjfwsjgl:before {
  content: "\e92f";
  color: inherit;
}
.icon-ico_sjyy2_sjfwxqlcgl:before {
  content: "\e930";
  color: inherit;
}
.icon-ico_sjyy2_sjjkdygl:before {
  content: "\e931";
  color: inherit;
}
.icon-ico_sjyy2_sjjksjysbl:before {
  content: "\e932";
  color: inherit;
}
.icon-ico_sjyy2_sjmxsjbzjc:before {
  content: "\e933";
  color: inherit;
}
.icon-ico_sjyy2_sjzljyzdhpz:before {
  content: "\e934";
  color: inherit;
}
.icon-ico_sjyy2_xqkajsxgl:before {
  content: "\e935";
  color: inherit;
}
.icon-ico_sjyy2_xqlcgl:before {
  content: "\e936";
  color: inherit;
}
.icon-ico_sjyy2_xqsjgl:before {
  content: "\e937";
  color: inherit;
}
.icon-ico_sjyy2_zzssjfw:before {
  content: "\e938";
  color: inherit;
}
.icon-ico_sjzc1_fjflgl:before {
  content: "\e939";
  color: inherit;
}
.icon-ico_sjzc1_sjts:before {
  content: "\e93a";
  color: inherit;
}
.icon-ico_sjzc1_sjzcpd:before {
  content: "\e93b";
  color: inherit;
}
.icon-ico_sjzc1_smzqgl:before {
  content: "\e93c";
  color: inherit;
}
.icon-ico_sjzc2_bjzdjsjfbfx:before {
  content: "\e93d";
  color: inherit;
}
.icon-ico_sjzc2_jysjmxdsjzl:before {
  content: "\e93e";
  color: inherit;
}
.icon-ico_sjzc2_sjaqdygl:before {
  content: "\e93f";
  color: inherit;
}
.icon-ico_sjzc2_sjaqzdhsj:before {
  content: "\e940";
  color: inherit;
}
.icon-ico_sjzc2_sjbbbglrgl:before {
  content: "\e941";
  color: inherit;
}
.icon-ico_sjzc2_sjbbbgsb:before {
  content: "\e942";
  color: inherit;
}
.icon-ico_sjzc2_sjflsjbzzd:before {
  content: "\e943";
  color: inherit;
}
.icon-ico_sjzc2_sjkyxglytz:before {
  content: "\e944";
  color: inherit;
}
.icon-ico_sjzc2_sjmxhy:before {
  content: "\e945";
  color: inherit;
}
.icon-ico_sjzc2_sjmxsjjwlh:before {
  content: "\e946";
  color: inherit;
}
.icon-ico_sjzc2_sjsmzqbg:before {
  content: "\e947";
  color: inherit;
}
.icon-ico_sjzc2_sjtmcl:before {
  content: "\e948";
  color: inherit;
}
.icon-ico_sjzc2_sjtmgzmbgl:before {
  content: "\e949";
  color: inherit;
}
.icon-ico_sjzc2_sjyljr:before {
  content: "\e94a";
  color: inherit;
}
.icon-ico_sjzc2_sjysdygl:before {
  content: "\e94b";
  color: inherit;
}
.icon-ico_sjzc2_sjyszdhsj:before {
  content: "\e94c";
  color: inherit;
}
.icon-ico_sjzc2_sjzcbzjybg:before {
  content: "\e94d";
  color: inherit;
}
.icon-ico_sjzc2_sjzccx:before {
  content: "\e94e";
  color: inherit;
}
.icon-ico_sjzc2_smzqsbgzpzgl:before {
  content: "\e94f";
  color: inherit;
}
.icon-ico_sjzc2_smzqyqdygl:before {
  content: "\e950";
  color: inherit;
}
.icon-ico_sjzl1_zlbg:before {
  content: "\e951";
  color: inherit;
}
.icon-ico_sjzl1_zlgzpz:before {
  content: "\e952";
  color: inherit;
}
.icon-ico_sjzl1_zljhgl:before {
  content: "\e953";
  color: inherit;
}
.icon-ico_sjzl1_zlwtgl:before {
  content: "\e954";
  color: inherit;
}
.icon-ico_sjzl2_jhjgccsj:before {
  content: "\e955";
  color: inherit;
}
.icon-ico_sjzl2_jhmbgl:before {
  content: "\e956";
  color: inherit;
}
.icon-ico_sjzl2_qsfx:before {
  content: "\e957";
  color: inherit;
}
.icon-ico_sjzl2_sdcfjhgn:before {
  content: "\e958";
  color: inherit;
}
.icon-ico_sjzl2_zdhhjrwgkgn:before {
  content: "\e959";
  color: inherit;
}
.icon-ico_sjzl2_zdyzlgzpz:before {
  content: "\e95a";
  color: inherit;
}
.icon-ico_sjzl2_zlgzcxjwh:before {
  content: "\e95b";
  color: inherit;
}
.icon-ico_sjzl2_zlgzjygn:before {
  content: "\e95c";
  color: inherit;
}
.icon-ico_sjzl2_zllccx:before {
  content: "\e95d";
  color: inherit;
}
.icon-ico_sjzl2_zlwtcl:before {
  content: "\e95e";
  color: inherit;
}
.icon-ico_sjzl2_zlwtcx:before {
  content: "\e95f";
  color: inherit;
}
.icon-ico_sjzl2_zlwtgzjtzgl:before {
  content: "\e960";
  color: inherit;
}
.icon-ico_sjzl2_zlwtlcgl:before {
  content: "\e961";
  color: inherit;
}
.icon-ico_ysj1_ysjbl:before {
  content: "\e962";
  color: inherit;
}
.icon-ico_ysj1_ysjcj:before {
  content: "\e963";
  color: inherit;
}
.icon-ico_ysj1_ysjyy:before {
  content: "\e964";
  color: inherit;
}
.icon-ico_ysj2_cjrwgkgn:before {
  content: "\e965";
  color: inherit;
}
.icon-ico_ysj2_dxjgcjgn:before {
  content: "\e966";
  color: inherit;
}
.icon-ico_ysj2_dxjgxxxdgn:before {
  content: "\e967";
  color: inherit;
}
.icon-ico_ysj2_etljbjxgn:before {
  content: "\e968";
  color: inherit;
}
.icon-ico_ysj2_sgysjdrgn:before {
  content: "\e969";
  color: inherit;
}
.icon-ico_ysj2_sjjgljxdgn:before {
  content: "\e96a";
  color: inherit;
}
.icon-ico_ysj2_sjyljpzgn:before {
  content: "\e96b";
  color: inherit;
}
.icon-ico_ysj2_xyfx:before {
  content: "\e96c";
  color: inherit;
}
.icon-ico_ysj2_ymxkf:before {
  content: "\e96d";
  color: inherit;
}
.icon-ico_ysj2_ysjcx:before {
  content: "\e96e";
  color: inherit;
}
.icon-ico_ysj2_ysjqstjcx:before {
  content: "\e96f";
  color: inherit;
}
.icon-ico_ysj2_ysjsj:before {
  content: "\e970";
  color: inherit;
}
